
.home-container {
  display: flex;
  align-items: flex-start; 
}


.left-section {
  flex: 1;
  padding: 20px;
  background: #181818;
  color: #fff;
}


.right-section {
  width: 300px; 
  background-color: #181818; 
  color: #fff;
  border-right: 2px solid #444;
  border-top: 2px solid #444;
  border-bottom: 2px solid #444;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: auto; 
  min-height: 100%; 
  border-radius: 2px; 
}


.right-section h2 {
  font-size: 22px;
  margin-bottom: 15px;
  text-align: center;
  border-bottom: 1px solid #555;
  padding-bottom: 10px;
}


.details-content {
  font-size: 16px;
  line-height: 1.5;
}

.details-content p {
  margin: 5px 0;
}


.close-btn {
  align-self: flex-end;
  background: none;
  border: none;
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  transition: color 0.2s;
}

.close-btn:hover {
  color: #ff5555;
}

html,
body {
  overflow-x: hidden;
}


@media (max-width: 768px) {
  .home-container {
    flex-direction: column;
  }

  .right-section {
    width: 100%;
    height: auto;
    position: relative;
    border-left: none;
    border-top: 1px solid #444;
    min-height: auto;
  }
}
