
.form-container {
  max-width: 420px;
  margin: 50px auto;
  padding: 20px;
  background: #1e1e1e;
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.87);
  font-family: Arial, sans-serif;
}


.form-container form {
  display: flex;
  flex-direction: column;
  gap: 15px; 
}


.form-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 22px;
}


.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px; 
}

.form-group label {
  font-weight: bold;
  font-size: 14px;
}

.form-group input,
.form-group select {
  padding: 12px;
  font-size: 16px;
  border: 1px solid #727272;
  background: #333;
  color: rgba(255, 255, 255, 0.87);
  border-radius: 6px;
  transition: border-color 0.3s ease-in-out;
}


.form-group input:focus,
.form-group select:focus {
  border-color: rgba(255, 255, 255, 0.87);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
  outline: none;
}


.form-group input[type="file"] {
  background: transparent;
  padding: 5px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.87);
  border: none;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox-group input {
  width: 18px;
  height: 18px;
  accent-color: rgba(255, 255, 255, 0.87); 
}

.submit-btn {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  background-color: rgba(144, 144, 144, 0.87);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.submit-btn:hover {
  background-color:#4caf50;
  color: white;
  transform: scale(1.02);
}

.submit-btn:active {
  transform: scale(0.98);
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
