.flyout {
  position: fixed;
  bottom: 10px;
  left: 0;
  background: #222;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
  opacity: 0; 
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  visibility: hidden; 
}

.active {
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
}
