.homeContainer {
  text-align: center;
  margin-top: 50px;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  max-width: 400px;
}

.button {
  width: 200px;
  height: 60px;
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  width: 180px;
  border: none;
  border-radius: 5px;
  background-color: #2c2c2c;
  color: white;
  transition: background 0.3s, transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.button:active {
  transform: scale(0.95);
}

.dataMessage {

  font-size: 16px;
  color: #ccc;
  margin-top: 30vh;
}
